.productCard {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  .imageContainer {
    border: none;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
  }

  .productDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;

    .title {
      font-weight: bold;
      font-size: 1rem;
      color: rgb(0, 189, 154);
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      min-height: 1.4rem;
      max-height: 2.8rem;
      line-height: 1.4em;
      text-transform: capitalize;
      text-decoration: none;
    }

    .description {
      font-size: 0.75rem;
      color: rgb(148, 148, 148);
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .priceSection {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .price {
        font-weight: bold;
        font-size: 0.9rem;
        color: rgb(0, 0, 0);
        font-style: normal;
        line-height: 1.6;
      }

      .compareAtPrice {
        font-size: 0.8rem;
        color: rgb(148, 148, 148);
        text-decoration: line-through;
        font-style: normal;
        line-height: 1.6;
      }
    }
  }
  .atcBtn {
    border-style: none;
    border-radius: 100px;
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 184, 158);
    line-height: unset;
    cursor: pointer;
  }
}
