.filterCollapseContainer {
  margin-top: 1rem;
  border-bottom: 1px solid rgb(148, 148, 148);
}

.filterHeader {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  padding: 10px;
}

.expandIcon {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.expandIconOpen {
  transform: rotate(180deg);
}

.filterTitle {
  font-weight: bold;
  color: rgb(0, 189, 154);
}

.filterUncollapsed {
  background-color: white;
  border: none;
  padding: 0.25rem 1rem;
}

.filterContent {
  max-height: 300px;
  overflow-y: auto;
}

.showClear {
  cursor: pointer;
  color: blue;
  margin-bottom: 10px;
}

.filterCheckboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filterCheckbox {
  margin-right: 10px;
}

.filterCheckboxLabel {
  font-size: 14px;
}
